.dv-container {
    padding: 5px;
    border: 2px solid red;
    margin: auto;
    width: 100%;
    text-align: center;
    border-radius: 5px;
}

.dv-title {
    border-radius: 50px;
    padding: 5px;
    background-color: pink;
    font-weight: bold;
    font-family: fantasy;
}