<div class="component-style card">
<table class="table" >
    <thead>
      <th>some basic app</th>
    </thead>
    <tbody>
    <tr  >
        
        <th class="style3"><u>NAME</u></th>
        <th class="style3"><u>IMAGE</u></th>
        <th class="style3"><u>PRICE</u></th>
    </tr>
    <tr>
        
        <td class="style2" >APACHE</td>
        <th><img class="style1" [src]="imgUrl"></th>
        <th class="style2">1.65 lakh</th>
    </tr>
    <tr>
        
        <td class="style2">FZ-S</td>
        <th><img class="style1" src="https://imgd.aeplcdn.com/642x361/n/cw/ec/142329/yamaha-fzs-fi-v4-right-side-view0.jpeg?isig=0&q=75"></th>
        <th class="style2">1.62 lakh</th>
    </tr>
    <tr>
        
          <td class="style2">PULSAR 150</td>
          <th><img class="style1" src="https://cdn.bajajauto.com/-/media/assets/bajajauto/360degreeimages/bikes/pulsar/pulsar-150/single-disc/black-red/00.png"></th>
          <th class="style2">1.50 lakh</th>
    </tr>
    <tr>
      
        <td class="style2">HUNTER 350</td>
        <th><img class="style1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQo0NA53nLc7x0nv4Dm4JXgUg9SfQP-krOScQ&usqp=CAU"></th>
        <th class="style2">2.0 lakh</th>
  </tr>
  <tr>
    
      <td class="style2">STUNNER 125</td>
      <th><img class="style1" src="https://media.zigcdn.com/media/content/2010/Oct/stunner_t2.jpg"></th>
      <th class="style2">1.25 lakh</th>
</tr>
<tr>
  <th  class="style2">TOTAL PRICE</th>
  <th><img class="style4" src="https://clipart-library.com/images/qiBAkbnoT.png"></th>
  <th class="style2">7.70 lakh</th>
</tr>
    </tbody>
  </table>
</div>
