			<style>
		.chakram {
           
   width:67px;
   height:67px;
   background-color:blue;
   border-radius:50%;
   background: conic-gradient(
      from 0deg,
      white 0deg 15deg,
      #0052cc 15deg 45deg,
      white 45deg 60deg,
      #0052cc 60deg 90deg,
      white 90deg 105deg,
      #0052cc 105deg 135deg,
      white 135deg 150deg,
      #0052cc 150deg 180deg,
      white 180deg 195deg,
      #0052cc 195deg 225deg,
      white 225deg 240deg,
      #0052cc 240deg 270deg,
      white 270deg 285deg,
      #0052cc 285deg 315deg,
      white 315deg 330deg,
      #0052cc 330deg 360deg
    );
	
	
  }    
		</style>
	
	<div class="component-style card">
			<h1 style="text-align:center;font-family: fantasy;">INDIA FLAG</h1>
			
			<div style="margin-left: 300px;">
			<div style="width:300px;height:200px;position:relative;border:1px solid black">
			<div style="height:33.33%;background-color:#FF671F"></div>
			<div style="height:33.33%;background-color:#FFFFFF">
			<div style="margin-left: 115px;">
                <div  class="chakram " ></div>
            </div>
			</div>
			<div style="height:33.33%;background-color:#046A38"></div>
            </div>
			
        </div>
