<div class="component-style card" style="background-color: black;">
    <table style="width: 100%;text-align: center;margin: auto;">
        <tr>
            <td style="width: 50%;">
                <img style="border-radius: 50%;height: 200px;width: 200px;" [src]="imgUrl">
                <br>
                <h1 style="color: white;font-family:Georgia, 'Times New Roman', Times, serif">MULE NAVEEN</h1>
            </td>
            <td style="width: 5%;">
                <div style="border-left: 2px solid rgb(255, 0, 128);height:180px;"></div>
            </td>
            <td style="background-color: rgb(34, 255, 0);border-radius: 0px 10px 0px 10px;padding: 0px;margin-top: 70px;"class="card">
                <h6 style="font-family: fantasy;">
                    Hello GoodMorning to All
                    <br>
                    I AM Naveen
                    <br>
                    This Is Basic Profile
                </h6>
            </td>
        </tr>

    </table>

</div>